// base body
$body_color: #FDFDFD;
$font_family: '-apple-system,BlinkMacSystemFont,\.SFNSDisplay-Regular,Aktiv Grotesk,Arial,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,YuGothic,游ゴシック,sans-serif';
$font_style: normal;
$font_weight: 400;

//
$base_width: 960px;
