<header class="l-header">
  <div class="l-content">
    <h1 class="l-header__blog_title">
      <a href="/"><%= current_article.nil? ? "Xu Shengbo" : current_article.title %></a>
    </h1>
  </div>
</header>
