<footer>
  <div class="l-content clearfix">
    <div class="f-right">
      <% link_to 'https://docs.google.com/forms/d/e/1FAIpQLSdJZNAJ6WvwIMHFMYFQjmW1mhgKrfmCuI_cBj_2lbiky3HjXw/viewform', class: 'hvr-underline-reveal', target: '_blank' do %>
        お問い合わせ
      <% end %>
      /
      <% link_to 'https://www.facebook.com/xu.shengbo', class: 'hvr-underline-reveal', target: '_blank' do %>
        Facebook
      <% end %>
      /
      <% link_to 'https://twitter.com/yamadagenki0607', class: 'hvr-underline-reveal', target: '_blank' do %>
        Twitter
      <% end %>
    </div>
  </div>
</footer>
