<header class="l-header">
  <div class="l-content">
    <h1 class="l-header__title">
      <a href="/xushengbo/"><%= current_article.nil? ? "Xu Shengbo" : current_article.title %></a>
    </h1>
    <nav class="l-nav">
      <a class="l-nav__link" href="#message">Message</a>
      <a class="l-nav__link" href="#career">Career</a>
      <a class="l-nav__link" href="#publications">Publications</a>
      <a class="l-nav__link" href="#articles">Articles</a>
    </nav>
  </div>
</header>
