<section class="l-content l-list" id="activities">
  <h2 class="l-list__title ml10">
    Activities
  </h2>
  <div class="l-list_items">
    <ul>
      <li class="l-list_items__item">
        (2016/11) 宅地建物取引士試験合格
      </li>
      <li class="l-list_items__item">
        (2016/11) つくばマラソン完走(42.195km)(3時間58分)
      </li>
      <li class="l-list_items__item">
        (2016/03) 三浦国際市民マラソン(ハーフマラソン)
      </li>
      <li class="l-list_items__item">
        (2015/11) つくばマラソン完走(42.195km)
      </li>
      <li class="l-list_items__item">
        (2014/11) つくばマラソン完走(42.195km)
      </li>
      <li class="l-list_items__item">
        (2013/11) つくばマラソン完走(42.195km)
      </li>
      <li class="l-list_items__item">
        (2012/10) フライデーナイト・リレーマラソン4位
      </li>
      <li class="l-list_items__item">
        (2012/06) ジグソーパズル検定１級取得
      </li>
      <li class="l-list_items__item">
        (2011/09) ジグソーパズル検定２級取得
      </li>
    </ul>
  </div>
</section>
