<section class="l-content l-list" id="articles">
  <h2 class="l-list__title">
    Articles
  </h2>
  <div class="l-list_items">
    <ul>
      <li class="l-list_items__item">
        <% link_to 'http://info.medley.jp/entries/2016/11/02', class: 'hvr-underline-reveal' do %>
          (2016/11/02) 医師もGithubにコミット！メドレーの目指す「全員で行う高速開発体制」について 〜非エンジニア向け勉強会(Git編)〜
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'http://qiita.com/yamadagenki/items/27ff91ad2422c9d14849', class: 'hvr-underline-reveal' do %>
          (2016/09/23) Rails初心者でもできる1日で作るクソWebサービス
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'http://yamadagenki.hatenablog.com/entries/2016/09/14', class: 'hvr-underline-reveal' do %>
          (2016/09/14) エンジニアだけどデザイナーに憧れて〜和文フォント〜
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'http://yamadagenki.hatenablog.com/entry/2016/09/03/114816', class: 'hvr-underline-reveal' do %>
          (2016/09/03) 会社でも役立つ！？ダーツをやることで得られる能力とは
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'http://info.medley.jp/entries/2016/08/26', class: 'hvr-underline-reveal' do %>
          (2016/08/26) プロダクト品質向上のためのフルスタック開発〜メドレーにおける機能ベース開発について〜
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'https://www.wantedly.com/companies/medley/post_articles/31064', class: 'hvr-underline-reveal' do %>
          (2016/08/04) 現役ダーツプロの僕がメドレーに入社した7つの理由
        <% end %>
      </li>
    </ul>
  </div>
</section>
