<section class="l-content l-list" id="publications">
  <h2 class="l-list__title">
    Publications
  </h2>
  <div class="l-image_items">
    <% link_to 'http://aamas2014.lip6.fr/proceedings/aamas/p1537.pdf', class: "l-image_items__item hvr-underline-reveal" do %>
      <%= image_tag 'index/aamas.png', class: 'l-image_items__item__image' %>
      <div class="l-image_items__item__title">
        <p>Sample Efficiency Improvement on Neuroevolution via Estimation-Based Elimination Strategy</p>
        <p><b>AAMAS 2014 (2014)</b></p>
        <p><u>Shengbo Xu</u>, Yuki Inoue, Tetsunari Inamura, Hirotaka Moriguchi, Shinichi Honiden</p>
      </div>
    <% end %>
  </div>
  <div class="l-image_items">
    <% link_to 'http://dl.acm.org/citation.cfm?id=2499823', class: "l-image_items__item hvr-underline-reveal" do %>
      <%= image_tag 'index/icimcs.png', class: 'l-image_items__item__image' %>
      <div class="l-image_items__item__title">
        <p>AUTOMATIC IMAGE DESCRIPTION BY USING WORD-LEVEL FEATURES</p>
        <p><b>ICIMCS 2013 (2013)</b></p>
        <p>Shingo Horiuchi, Hirotaka Moriguchi, <u>Shengbo Xu</u>, Shinichi Honiden</p>
      </div>
    <% end %>
  </div>
  <div class="l-image_items">
    <% link_to 'http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6557826&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6557826', class: "l-image_items__item hvr-underline-reveal" do %>
      <%= image_tag 'index/cec.png', class: 'l-image_items__item__image' %>
      <div class="l-image_items__item__title">
        <p>Sample Efficiency Analysis of Neuroevolution Algorithms on a Quadruped Robot</p>
        <p><b>CEC 2013 (2013)</b></p>
        <p><u>Shengbo Xu</u>, Hirotaka Moriguchi, Shinichi Honiden</p>
      </div>
    <% end %>
  </div>
  <div class="l-image_items">
    <% link_to 'http://link.springer.com/chapter/10.1007%2F978-3-642-34859-4_36', class: "l-image_items__item hvr-underline-reveal" do %>
      <%= image_tag 'index/seal.png', class: 'l-image_items__item__image' %>
      <div class="l-image_items__item__title">
        <p>Efficient Neuroevolution for a Quadruped Robot</p>
        <p><b>SEAL 2012 (2012)</b></p>
        <p><u>Shengbo Xu</u>, Hirotaka Moriguchi, Shinichi Honiden</p>
      </div>
    <% end %>
  </div>
</section>
