---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Message from '../components/Message.astro';
import Career from '../components/Career.astro';
import Publications from '../components/Publications.astro';
import Articles from '../components/Articles.astro';
import Activities from '../components/Activities.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Header />
  <main>
    <Hero />
    <Message />
    <Career />
    <Publications />
    <Articles />
    <Activities />
  </main>
  <Footer />
</Layout>
