@charset "utf-8";

*,
*::before,
*::after  {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin: 0 auto;
  width: 90%;
}

.main-img {
  margin: 20px auto;
  width: 90%;
  display: block;
  max-height: 500px;
  overflow: hidden;
}
