<%= partial "views/career" %>

<%= partial "views/publication" %>

<section class="l-content l-list">
  <h2 class="l-list__title">
    Articles
  </h2>
  <div class="l-list_items">
    <ul>
      <li class="l-list_items__item">
        <% link_to 'http://yamadagenki.hatenablog.com/entry/2016/09/03/114816', class: 'hvr-underline-reveal' do %>
          (2016/09/03) 会社でも役立つ！？ダーツをやることで得られる能力とは
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'http://info.medley.jp/entries/2016/08/26', class: 'hvr-underline-reveal' do %>
          (2016/08/26) プロダクト品質向上のためのフルスタック開発〜メドレーにおける機能ベース開発について〜
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'https://www.wantedly.com/companies/medley/post_articles/31064', class: 'hvr-underline-reveal' do %>
          (2016/08/04) 現役ダーツプロの僕がメドレーに入社した7つの理由
        <% end %>
      </li>
      <li class="l-list_items__item">
        <% link_to 'http://yamadagenki.hatenablog.com/entry/2016/07/30/143954', class: 'hvr-underline-reveal' do %>
          (2016/07/30) エンジニアだけどデザイナーに憧れて
        <% end %>
      </li>
    </ul>
  </div>
</section>

<section class="l-content l-list">
  <h2 class="l-list__title">
    Activities
  </h2>
  <div class="l-list_items">
    <ul>
      <li class="l-list_items__item">
        (2016/03) 三浦国際市民マラソン(ハーフマラソン)
      </li>
      <li class="l-list_items__item">
        (2015/11) つくばマラソン完走(42.195km)
      </li>
      <li class="l-list_items__item">
        (2014/11) つくばマラソン完走(42.195km)
      </li>
      <li class="l-list_items__item">
        (2013/11) つくばマラソン完走(42.195km)
      </li>
      <li class="l-list_items__item">
        (2012/10) フライデーナイト・リレーマラソン4位
      </li>
      <li class="l-list_items__item">
        (2012/06) ジグソーパズル検定１級取得
      </li>
      <li class="l-list_items__item">
        (2011/09) ジグソーパズル検定２級取得
      </li>
    </ul>
  </div>
</section>
